.navbar {
    border: 1px solid black;
    background: white;
    color: black;
    .true {
        background: black;
        color: white;
      }

    button {
        width: 20%;
        height: 10vh;
        font-size: 1.4rem;
        background: green;
        color: white;
        padding: 2%;
        margin: 1%;
        border: 1px solid black;
        border-radius: 10%;

    }
}